@if (Met)
{
    <div class="password-rule password-rule--met">
        <MudIcon Icon="@Icons.Material.Filled.Check" Size="Size.Small" />
        <span>@Label</span>
    </div>
}
else
{
    <div class="password-rule password-rule--unmet">
        <MudIcon Icon="@Icons.Material.Filled.Close" Size="Size.Small" />
        <span>@Label</span>
    </div>
}

@code {
    [Parameter, EditorRequired] public bool Met { get; set; }
    [Parameter, EditorRequired] public string Label { get; set; } = string.Empty;
}
